//Variable Definition
$primary-color: #C10202;
$hover-color:rgb(146, 3, 3);
$secondary-color: #8C8C8C;
$background-color:#EDEDED;
//Template Colors Definition
.primary-color {
    color: $primary-color;
}
.secondary-color {
    color: $secondary-color;
}

//General Page Styles
body {
    font-family: 'Josefin Sans', sans-serif !important;
}
img {
    width: 100%;
}

//Header Lg - Md devices Styles
.header-medium {
    background: white;
    padding: 10px 5%;
    .container {
        max-width: 1170px;
    }
    .navbar {
        padding: 0;
        .navbar-nav {
            width: 100%;
        }
    }
    .shotengai-title {
        font-weight: 800;
    }
    .header-items-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .header-item {
            margin: 0 2%;
            font-size: 1.4rem;
            cursor: pointer;
        }
        p {
            margin-bottom: 0;
            transition: all 0.3s ease-in;
            color: black !important;
            &:hover {
                color: $primary-color !important;
            }
        }
    }
    .header-icons {
        .header-icon {
            display: flex;
            justify-content: center;
            cursor: pointer;
            margin: 0 10%;
            svg {
                width: 30px;
                transition: all 0.3s ease-in;
                &:hover {
                    fill: $primary-color;
                }
            }
            .badge-counter {
                background-color: $primary-color;
                padding: 3px 5px;
                border-radius: 5px;
                z-index: 20;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

//Section general styles
.section-padding {
    padding: 100px 2%;
}
.section-title {
    hr {
        color: $primary-color;
        border-top: 3px solid $primary-color;
        width: 50%;
    }
}

//Section 1 Styles
.home-section {
    background: $background-color;
    padding: 200px 2%;
    position: relative;
    .home-section-title-1 {
        padding: 0 5%;
        h1 {
            text-shadow: 2px 2px rgba(0, 0, 0, 0.281);
            font-size: 3.5rem;
            font-weight: bold;
        }
        p {
            font-weight: lighter;
            font-size: 2rem;
        }
    }
    .home-section-button {
        background: $secondary-color;
        color: white;
        padding: 10px 2%;
        border: none;
        font-size: 1.3rem;
        width: 25%;
        &:hover {
            background: rgba(82, 81, 81, 0.822);
        }
    }
    .product-line-container {
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        .line {
            background: $primary-color;
            height: calc(100vh - 400px);
            width: 10%;
            position: absolute;
            top: -200px;
        }
    }
    .product-image-cont {
        width: 80%;
        z-index: 2;
        img {
            width: 100%;
        }
        &::after {
            content: "";
            background: $primary-color;
            height: 100%;
            width: 10%;
            position: absolute;
            bottom:-200px;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto;
            z-index: -1;
        }
        &::before {
            content: "";
            background: $primary-color;
            height: 100%;
            width: 10%;
            position: absolute;
            top: -200px;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto;
            z-index: -1;
        }
    }
}
//Section 2 Styles
.product-new-section {
    padding: 50px 5%;
    position: relative;
    .product-container {
        .product-image {
            width: 80%;
            img {
                width: 100%;
            }
        }
        .product-name {
            .category {
                color: rgba(0, 0, 0, 0.575);
            }
            .title {
                text-transform: uppercase;
                font-weight: 500;
            }
        }
        .product-price {
            color: $primary-color;
            font-weight: 800;
        }
        .product-options {
            width: 100%;
            display: flex;
            justify-content: center;
            svg {
                width: 10%;
                margin-right: 10px;
            }
            .product-button {
                background: $primary-color;
                width: 70%;
                padding: 10px 5%;
                color: white;
                border-radius: 15px;
                border: none;
                transition: all 0.2s ease-in;
                &:focus 
                {
                    border:none; /* here configure as your needs */
                }
                &:hover {
                    background: $hover-color;
                }
            }
        }
    }
    .swiper-container {
        width: 100%;
        height: 100%;
        margin-top: 8px;
        .swiper-pagination {
            position: relative;
            margin-top: 20px;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            padding: 50px 2%;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .show-products {
        button {
            background: $primary-color;
            border: none;
            color: white;
            padding: 10px 5%;
            font-size: 1.2rem;
        }
    }
}

//Section 3 Styles
.products-section {
    .product-show-container {
        button {
            background: $primary-color;
            padding: 10px 5%;
            color: white;
            border: none;
            font-size: 1.3rem;
            &:hover {
                background: $hover-color;
            }
        }
        .product-buttons-container {
            margin-top: 50px;
            button:nth-child(2) {
                margin: 0 2%;
            }
            .active {
                background: $hover-color;
            }
        }
        .product-container {
            margin-top: 50px;
            .product {
                .product-info {
                    p {
                        color: $secondary-color;
                        font-size: 1.5rem;
                    }
                }
                .product-image {
                    width: 30%;
                }
            }
        }
    }
}
/* Portrait */
@media only screen
 
and (min-device-width: 375px)
 
and (max-device-width: 667px)
 
and (-webkit-min-device-pixel-ratio: 2)
 
and (orientation: portrait) {
    .header-medium {
        padding: 10px 0;
        .shotengai-title {
            font-weight: 800;
            font-size: 1.7rem;
        }
        .header-items-container {
            display: block;
        }
        .header-icons {
            padding-top: 30px;
            .header-icon {
                &:nth-child(3)::before {
                    top: 10px;
                }
            }
        }
    }
    .home-section {
        padding:150px 2% ;
        .home-section-button {
            width: 100%;
        }

    }

    .product-new-section {
        .show-products {
            button {
                width:80%;
            }
        }
    }
    .product-show-container {
        button {
           width: 100%;
        }
        .product-container {
            .product {
                display: block !important;
                .product-info {
                   width: 100%;
                }
                .product-image {
                    width: 100%;
                }
            }
        }
    }
    
}
@media only screen and (max-width: 1100px) {
    .header-icons {
        width: 100%;
    }
}